body
{
	color: black;
	font-family: Arial;
	font-size: medium;
	background-color: #fff8dc;
}

p
{
	line-height: normal;
}

.divTable
{
    width:100%; 
    display:flex; 
    justify-content:center;
}
.cell
{
    width:30%;
    padding-bottom: 20px;
}

#menu
{
	position:absolute;
	width:200px;
	top:125px;
	padding:0;
	margin:0;
}

#menu ul, #menu li
{
	list-style-type:none;
	padding:0;
	border:0;
	margin:0 0 0 0;
	line-height: normal;
}

#menu a, .panelList
{
	text-decoration:none;
	color:Black;
	margin-left:11px;
	margin-bottom:20px;
	font-family:Arial;
	font-weight:bold;
	font-size:medium;
}

#menu a:hover, .panelList:hover
{
	color:Red;
}

#Header
{
	position:relative;
	height:100px;
	padding:0;
	margin:0;
	text-align:center;
}

#content
{
	position:absolute;
	left:220px;
	top:125px;
	font-family:Arial;
	font-size: medium;
    width: 75%;
}

#spacingDiv
{
	visibility:hidden;
}

.alt
{
    background-color:white;
    height: auto;
}
.row
{
    height: auto;
}

.sub
{
}

.newslinks
{
    text-decoration:none;
	color:Black;
}

.direction
{
	text-decoration:none;
	color:Black;
	margin-left:11px;
	margin-bottom:20px;
	font-family:Arial;
	font-weight:bold;
	font-size: medium;
}

.direction:hover
{
	color:Red;
}


.Heading2
{
	font-family:Arial;
	font-size: medium;
	font-weight:bold;
}

.Heading1
{
	font-size: large;
	font-family: Arial;
	font-weight: bold;
	text-align:center;
	width: 100%;
}

.Panel
{
	display:block;
	
}

.ListPanel
{
	margin-left:20px; 
	margin-bottom:0px;
	margin-top:0px;
	padding:0;
}

.map
{
    margin: 0px auto 0px auto;
    width: 307px
}

.center
{
    margin: 0px auto 0px auto;
    width:75%;
}

#script-warning {
	display: none;
	background: #eee;
	border-bottom: 1px solid #ddd;
	padding: 0 10px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

#calendar {
	max-width: 900px;
	margin: 40px auto;
	padding: 0 10px;
}