################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/pfgaWeb.sln
/pfgaWeb.v12.suo
/public/.gitattributes
/public/.gitignore
