################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/pfgaWeb.sln
/pfgaWeb.v12.suo
/public/.gitattributes
/public/.gitignore
/public/.env_local.exclude
/public/.env_prod
/public/calendar/packages.config
/public/.dev
/public/stripe/sql_create_encrypted_members.sql
/public/stripe/success.php.bak
