<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<calendar xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <event>
    <month>1</month>
    <year>2016</year>
    <day>9</day>
    <date>9</date>
    <description><![CDATA[LSBA smallbore]]></description>
    <time><![CDATA[8:00am to 3:00pm, Range #1 Indoor]]></time>
  </event>
  <event>
    <month>1</month>
    <year>2016</year>
    <day>10</day>
    <date>10</date>
    <description><![CDATA[LSBA Airgun]]></description>
    <time><![CDATA[8:00am to 1:00pm, Range #1 Indoor]]></time>
  </event>
  <event>
    <month>1</month>
    <year>2016</year>
    <day>12</day>
    <date>12</date>
    <description><![CDATA[Reserved]]></description>
    <time><![CDATA[8:00am to 3:00pm, Range #1 & 5]]></time>
  </event>
  <event>
    <month>1</month>
    <year>2016</year>
    <day>16</day>
    <date>16</date>
    <description><![CDATA[IPSC]]></description>
    <time><![CDATA[All Day, Range #1]]></time>
  </event>  
  <event>
    <month>1</month>
    <year>2016</year>
    <day>23</day>
    <date>23</date>
    <description><![CDATA[Party]]></description>
    <time><![CDATA[6:00pm - 10:00pm]]></time>
  </event>
  <event>
    <month>1</month>
    <year>2016</year>
    <day>23</day>
    <date>23</date>
    <description><![CDATA[Safety Walk]]></description>
    <time><![CDATA[10:00am Clubhouse]]></time>
  </event>
  <event>
    <month>1</month>
    <year>2016</year>
    <day>24</day>
    <date>24</date>
    <description><![CDATA[Safety Walk]]></description>
    <time><![CDATA[10:00am Clubhouse]]></time>
  </event>
  <event>
    <month>1</month>
    <year>2016</year>
    <day>30</day>
    <date>30</date>
    <description><![CDATA[ICORE]]></description>
    <time><![CDATA[All Day, Range #1]]></time>
  </event>
  <event>
    <month>2</month>
    <year>2016</year>
    <day>6</day>
    <date>6</date>
    <description><![CDATA[IDPA]]></description>
    <time><![CDATA[All Day, Range #1 Indoor]]></time>
  </event>
  <event>
    <month>2</month>
    <year>2016</year>
    <day>6</day>
    <date>6</date>
    <description><![CDATA[IDPA]]></description>
    <time><![CDATA[All Day, Range #1 Indoor]]></time>
  </event>
  <event>
    <month>2</month>
    <year>2016</year>
    <day>20</day>
    <date>20</date>
    <description><![CDATA[IPSC]]></description>
    <time><![CDATA[All Day, Range #1 Indoor]]></time>
  </event>
  <event>
    <month>2</month>
    <year>2016</year>
    <day>14</day>
    <date>14</date>
    <description><![CDATA[LSBA Airgun]]></description>
    <time><![CDATA[8:00am to 1:00pm, Range #1 Indoor]]></time>
  </event>
  <event>
    <month>2</month>
    <year>2016</year>
    <day>27</day>
    <date>27</date>
    <description><![CDATA[Safety Walk]]></description>
    <time><![CDATA[10:00am Clubhouse]]></time>
  </event>
  <event>
    <month>2</month>
    <year>2016</year>
    <day>28</day>
    <date>28</date>
    <description><![CDATA[Safety Walk]]></description>
    <time><![CDATA[10:00am Clubhouse]]></time>
  </event>
  <event>
    <month>3</month>
    <year>2016</year>
    <day>12</day>
    <date>12</date>
    <description><![CDATA[LSBA smallbore]]></description>
    <time><![CDATA[8:00am to 3:00pm, Range #1 Indoor]]></time>
  </event>
  <event>
    <month>3</month>
    <year>2016</year>
    <day>13</day>
    <date>13</date>
    <description><![CDATA[LSBA Airgun]]></description>
    <time><![CDATA[8:00am to 1:00pm, Range #1 Indoor]]></time>
  </event>
</calendar>
