<p>All required fields must be complete. Applications that are illegible, incomplete or incorrect WILL NOT BE ACCEPTED.<br />
    The membership application and payment form must be submitted with appropriate fees for presentation to the Board of Directors. Applications without payment WILL NOT BE ACCEPTED.</p>
<p>As part of the new member application process please submit a photo for each family member to be used for ID. Email your photo(s) to membership@pfga.ca. The photo does not need to be professional, it can be taken on your phone. It should look like a passport photo. Please stand in front of a plain, preferably light coloured, background and include your head and shoulders. You can smile or not, whichever you prefer. Your face needs to be clearly seen. Thank you. </p>
<br />
<div class="row">
    <div class="col-12"><strong>Application Type: </strong>(Please select one of the following options)</div>
</div>
<div class="row mt-1">
    <div class="col-12 col-md-4">
        <input type="radio" id="newMember" name="applicationType" value="new" checked> <label for="newMember">New Membership (Full Year)</label> 
    </div>
    <div class="col-12 col-md-4" id="halfColumn">
        <input type="radio" id="halfMember" name="applicationType" value="half"> <label for="halfMember">New Membership (Half Year)*</label>
    </div>
    <div class="col-12 col-md-4">
        <input type="radio" id="renewMember" name="applicationType" value="renew"> <label for="renewMember">Membership Renewal</label> 
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span id="halfSpan">Note: Half-Year Applications are for NEW MEMBERS ONLY who join April 1st - Sept 30th.</span>
    </div>
</div>
  
<hr />

<div class="row">
    <div class="col-12">
        <span><strong>Personal Information:</strong> (Please Complete all <span class="required">REQUIRED</span> fields)</span>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-2">
        <label for="firstname" class="title required">First Name</label><br />
        <input id="firstname" type="text" class="new" name="firstname" required>
    </div>
    <div class="col-12 col-md-2">
        <label for="lastname" class="title required">Last Name</label><br />
        <input id="lastname" type="text" class="new" name="lastname" required>
    </div>
    <div class="col-12 col-md-2">
        <label for="alias" class="title">Preferred Name</label><br />
        <input id="alias" type="text" name="alias">
    </div>
    <div class="col-12 col-md-2">
        <label for="dob" class="title required new" >Date of Birth</label><br/>
        <input id="dob" type="date" class="new" name="dob" required>
    </div>
    <div id="cardCell" class="col-12 col-md-3 hidden">
        <label id="cardLabel" for="card" class="title">PFGA Card #</label><br/>
        <input id="card" type="text" name="card">
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-3">
        <label for="address" class="title required new">Home Address</label><br />
        <input id="address" type="text" class="new" name="address" required>
    </div>
    <div class="col-12 col-md-2" >
        <label for="city" class="title required new">City</label><br />
        <input id="city" type="text" class="new" name="city" required>
    </div>
    <div class="col-12 col-md-2">
        <label for="province" class="title required new">Province</label><br />
        <input id="province" type="text" class="new" name="province" required>
    </div>
    <div class="col-12 col-md-2">
        <label for="postal" class="title required new">Postal Code</label><br />
        <input id="postal" type="text" class="new" name="postal" required>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-2">
        <label for="homephone" class="title">Home Phone *</label><br/>
        <input id="homephone" type="text" class="new phone" name="homephone" >
    </div>
    <div class="col-12 col-md-2">
        <label for="cellphone" class="title">Cell Phone *</label><br />
        <input id="cellphone" type="text" class="new phone" name="cellphone" >
    </div>
    <div class="col-12 col-md-4">
        <label for="email" class="title required new">E-Mail Address</label>
        <input type="text" id="email" class="new" name="email" required>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="row">
            <div class="col-4 centered">
                <label for="pal" class="title required">PAL</label><br />
                <input type="radio" id="pal" name="palType" value="pal" required checked>
            </div>
            <div class="col-4 centered">
                <label for="rpal" class="title required">RPAL</label><br />
                <input type="radio" id="rpal" name="palType" value="rpal">
            </div>
            <div class="col-4 centered">
                <label for="noPal" class="title required">None</label><br />
                <input type="radio" id="noPal" name="palType" value="noPal">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-2">
        <label for="palDate" class="title">Approx. Date of PAL Course (MM-YY)</label>
        <input type="text" id="palDate" name="palDate">
    </div>                    
    <div class="col-12 col-md-2">
        <label for="PALNum" class="title required pal">PAL/RPAL #</label>
        <input type="text" id="PALNum" name="palNum" required>
    </div>
    <div class="col-12 col-md-2">
        <label for="palExpiry" class="title required pal">Pal Expiry Date</label>
        <input type="date" id="palExpiry" name="palExpiry" required>
    </div>
</div>
<hr />
<div class="row mt-2 newOnly">
    <div class="col-12">
        <span><strong>Please select the section(s) you would like to join:</strong> (New Members Only)</span>
    </div>
    <div class="col-12 col-md-2" style="align-content: center;">
        <input type="checkbox" id="archery" name="archery">
        <label for="archery">Archery</label>
    </div>
    <div class="col-12 col-md-2" style="align-content: center;">
        <input type="checkbox" id="rifle" name="rifle">
        <label for="rifle">Rifle</label>
    </div>
    <div class="col-12 col-md-2" style="align-content: center;">
        <input type="checkbox" id="smallbore" name="smallbore">
        <label for="smallbore">Smallbore</label>
    </div>
    <div class="col-12 col-md-2" style="align-content: center;">
        <input type="checkbox" id="handgun" name="handgun">
        <label for="handgun">Handgun</label>
    </div>
    <div class="col-12 col-md-2" style="align-content: center;">
        <input type="checkbox" id="action" name="action">
        <label for="action">Action*</label>
    </div>
    <div class="col-12">
        <span><strong>Note:</strong> In order to join Action Pistol you must first join Handgun, or be a current active member of an action shooting organization such as IPSC, IDPA, or ICORE. Please include this in the training & certifications section.</span>
    </div>
</div>
<hr class="newOnly" />
<div class="row mt-2">
    <div class="col-12 col-md-8">
        <strong>Additional Family Members:</strong> (Please ensure you included the appropriate number of family members in the Membership Fees section below)<br />
                <button type="button" id="addFamily">Add Family</button>
    </div>
</div>
<div class="row familyRow">
    <div class="d-none d-sm-block col-md-2"><label class="centered required">First Name</label></div>
    <div class="d-none d-sm-block col-md-3"><label class="centered required">Last Name</label></div>
    <div class="d-none d-sm-block col-md-2"><label class="centered">PAL#</label></div>
    <div class="d-none d-sm-block col-md-2"><label class="centered">PAL Expiry</label></div>
    <div class="d-none d-sm-block col-md-2"><label class="centered required">Date of Birth</label></div>
</div>                   

<script id="familyTemplate" type="text/x-custom-template">
    <div class="row mt-2 familyRow">
        <div class="col-6 d-md-none"><label class="required">First Name: </label></div><div class="col-6 col-md-2"><input type="text" class="famName" required aria-label="First Name"></div>
        <div class="col-6 d-md-none"><label class="required">Last Name: </label></div><div class="col-6 col-md-3"><input type="text" class="famLast" required aria-label="Last Name"></div>
        <div class="col-6 d-md-none"><label class="required">PAL#: </label></div><div class="col-6 col-md-2"><input type="text" class="famPAL" aria-label="PAL #"></div>
        <div class="col-6 d-md-none"><label class="required">Pal Expiry: </label></div><div class="col-6 col-md-2"><input type="date" class="famExpiry" aria-label="Pal Expiry"></div>
        <div class="col-6 d-md-none"><label class="required">Date of Birth: </label></div><div class="col-6 col-md-2"><input type="date" class="famDOB" required aria-label="Date of Birth"></div>
        <div class="col-12 col-md-1"><button type="button" class="btnDeleteFam">delete</button><input type="hidden" name="familyMembers[]"></div>
    </div>
</script>
                
<hr />
<div class="row mt-2 newOnly">
    <div class="col-12 col-md-7">
        <strong>Other Club Affiliations Past or Present:</strong> (New Members Only - Optional)<br />
        <button id="addClub" type="button">Add Club</button>
    </div>                        
</div>
<div class="row clubRow newOnly">
    <div class="d-none d-sm-block col-md-3 centered">Club Name</div>
    <div class="d-none d-sm-block col-md-3 centered">City, Province</div>
    <div class="d-none d-sm-block col-md-2 centered">From (MM/YY)</div>
    <div class="d-none d-sm-block col-md-2 centered">To (MM/YY)</div>
</div>
<script id="clubTemplate" type="text/x-custom-template">
    <div class="row clubRow">
        <div class="col-6 d-md-none">Club Name: </div><div class="col-6 col-md-3"><input type="text" class="otherClub"></div>
        <div class="col-6 d-md-none">City, Province: </div><div class="col-6 col-md-3"><input type="text" class="otherCity"></div>
        <div class="col-6 d-md-none">From (MM/YY): </div><div class="col-6 col-md-2"><input type="text" class="otherFrom" placeholder="MM/YY"></div>
        <div class="col-6 d-md-none">To (MM/YY): </div><div class="col-6 col-md-2"><input type="text" class="otherTo" placeholder="MM/YY"></div>
        <div class="col-12 col-md-1"><button type="button" class="btnDeleteClub">delete</button>      
            <input type="hidden" name="otherClubs[]">
        </div>
    </div>
</script>
                
<hr class="newOnly" />
<div class="row mt-2 newOnly">
    <div class="col-12 col-md-8">
        <strong>Firearms/Archery Training or Certifications:</strong> (New Members Only - Optional)<br />
        <button type="button" id="addCourse">Add Training/Certification</button>
    </div>
</div>
<div class="row courseRow newOnly">
    <div class="d-none d-sm-block col-md-3 centered">Description</div>
    <div class="d-none d-sm-block col-md-3 centered">Instructor/Trainer</div>
    <div class="d-none d-sm-block col-md-3 centered">Location</div>
    <div class="d-none d-sm-block col-md-2 centered">Date (MM/YY)</div>
</div>                   
<script id="courseTemplate" type="text/x-custom-template">
    <div class="row courseRow">
        <div class="col-6 d-md-none">Description: </div><div class="col-6 col-md-3"><input type="text" class="courseDesc"></div>
        <div class="col-6 d-md-none">Instructor/Trainer: </div><div class="col-6 col-md-3"><input type="text" class="courseTrainer"></div>
        <div class="col-6 d-md-none">Location: </div><div class="col-6 col-md-3"><input type="text" class="courseLocation"></div>
        <div class="col-6 d-md-none">Date (MM/YY): </div><div class="col-6 col-md-2"><input type="text" class="courseDate" placeholder="MM/YY"></div>
        <div class="col-12 col-md-1"><button type="button" class="btnDeleteCourse">delete</button>
            <input type="hidden" name="courses[]">
        </div>
    </div>
</script>

<script src="../js/multiForm.js?v=1"></script>
