* {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12pt;
}

body {
 margin :20px auto;
 background:#fff8dc;
 
}

.button {
 text-decoration:none;
}
.button:hover {
 color:green;
}
.appname {
 text-align :center;
 background :#eb8;
 color :#40d;
 font-family:helvetica;
 font-size :20pt;
 padding :4px;
}

.fieldname {
 float:left;
 width:120px;
 min-width:120px;
}

.main {
    border :1px solid #888;
    margin-left:40px;
}

.info {
 background :lightgreen;
 color :blue;
 border :1px solid green;
 padding :5px 10px;
 margin-left:40px;
}

.button {
 display :inline;
 padding :4px 6px;
 border :1px solid #777;
 background :#fff;
 color :#d04;
 margin-right :8px;
 border-radius :5px;
 -moz-box-shadow :2px 2px 2px #888;
 -webkit-box-shadow:2px 2px 2px #888;
 box-shadow :2px 2px 2px #888;
}

table {
    border-collapse: collapse;
    border: solid 1px;
    margin-top: 5px;
}
th {
 font-weight:bold;
 border: solid 1px;
}
td {
    
    padding: 10px;
    border: solid 1px;
}

.error {
 color:red;
}

.container {
    max-height: 600px;
    overflow-y: scroll;
}

div {
    padding:5px;
}
h3 {
    margin-bottom: 0px;
}
